#scrollToTop {
  position: fixed;
  bottom: 25px;
  right: 30px;
  list-style: none;
  z-index: 99;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  display: block;
  text-align: center;
  color: #fff;
  background-size: 200%, 1px;
  background-position: 0;
  border: 2px solid #1a0b50;
  background-color: rgba(23, 11, 95, 0.7);
  align-self: center;
  justify-self: center;
}

.scroll svg {
  margin-top: 7.5px;
  font-size: 25px;
}
